name: Update Contribution Snake

on:
  schedule:
    # Runs daily at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual triggering
  push:
    branches:
      - main
    paths-ignore:
      - 'assets/images/*.svg'
      - 'output/*.svg'

jobs:
  update-snake:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Generate GitHub Contribution Snake
        uses: Platane/snk@v3
        with:
          github_user_name: xlreon
          outputs: |
            output/github-contribution-grid-snake.svg

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add output/github-contribution-grid-snake.svg
          if [ -n "$(git status --porcelain)" ]; then
            git commit -m "Update contribution snake"
            git push
          fi
